<h1><%= @department.id ? "Edit" : "Add New Department" %></h1>
<hr />
<%= form_for @department do |f| %>
    <%= f.label :name required: true %>
    <%= f.text_field :name %>
    
    <%= f.submit %>
    <% end %>